@page
@using System
@model IndexModel
@inject IWebHostEnvironment environment
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Container environment testing app.</p>
    <ul>
        <li>Application Name: @environment.ApplicationName</li>
        <li>Environment Name: @environment.EnvironmentName</li>
        <li>Application Name: </li>
        <li>Turtle Name: @Environment.GetEnvironmentVariable("turtle_name")


    </ul>
    <p></p>
</div>
